*{
  font-family: 'Onest', sans-serif;
}


.bg-image{
  background-image: url("image/surf.jpg");
  background-repeat: no-repeat;
  height: 600px;
  background-position: center -900px;
  filter: blur(7px);
  
}

.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 2px solid rgba(256,256,256, 0.2);
  position: absolute;
  top: 19%;
  left: 50%;
  transform: translate(-50%, -40%);
  z-index: 2;
/*   width: 50%; */
  max-width: 700px;
  min-width: 390px;
  padding: 20px;
  text-align: center;
}

.container-fluid{
  padding: 0;
}




